<div class='container'>
  <h1>Stupid Coaching</h1>
  <div class="mine">
    <h2><%=params[:question].capitalize%></h2>
    <h3>- Me</h3>
  </div>
  <br>
  <div class="mine">
    <h2><%=@ans.capitalize%></h2>
    <h3>- Stupid Coach</h3>
  </div>
</div>
