<h1>Talk with your coach!</h1>

<div class="box">
  <form action="./answer">
    <input type="text" name="question" id='form-camp' value=<%= params[:question] %>>
    <br>
    <input type="submit" id="btn-ask" value="Ask!">
  </form>
</div>
